
body, header, section, div, p, ul, li, h1, h2, h3, h4, h5
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $default-font-stack;
}

a { color: inherit; }

::selection { background: $highlight-color; }
::-moz-selection { background: $highlight-color; }

#container
{
  position: relative;
  width: 325px;
  margin: 0 auto;
  padding-bottom: 25px;
}

header
{
  height: 50px;
  margin: 15px 0 0 0;

  input
  {
    width: 302px; // Why not 325 - 9 - 9?
    padding: 9px 9px 9px 9px;
    background-color: #000;
    color: $highlight-color;
    font-weight: bold;
    letter-spacing: 1.0em;

    &::placeholder { color: #666; letter-spacing: normal; }
  }

  #lock
  {
    position: absolute;
    top: 6px;
    right: 9px;
    font-size: 20px;
    color: $highlight-color;
  }
}

footer
{
  margin-top: 25px;

  ul#contact
  {
    margin: 0 auto;
    //background: blue;
    width: 205px;
    li
    {
      display: inline;
      padding-right: 15px;
      font-size: 18px;
      a { color: inherit; text-decoration: none; }
    }
  }
}

#main
{
  font-size: 14px;

  h1
  {
    margin: 15px 0 15px 0;
    font-size: 26px;
  }

  h2
  {
    margin-bottom: 20px;
    font-size: 20px;
  }

  nav#nav-work-home
  {
    position: relative;
    height: 30px;
    margin: 25px 0;

    div
    {
      position: absolute;
      top: 0;
      width: 142px;
      padding: 5px 10px;
      border: 1px solid #fff;
      background: #000;
      color: #fff;

      &.active
      {
        background: #fff;
        color: #000;
      }

    }


    #nav-work
    {
      left: 0;

    }
    #nav-home
    {
      left: 163px;
    }
  }

  p
  {
    position: relative;
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  #mass
  {
    position: relative;
    margin-bottom: 15px;
    font-family: "Stateface Regular";
    font-size: 130px;
    text-align: center;
    line-height: 1.0;

    &:before { content: "S"; }

    #star
    {
      position: absolute;
      top: 22px;
      right: 106px;
      color: $map-marker-color;
      font-family: "Entypo";
      font-size: 30px;

      &:before { content: "\2605"; }
    }
  }

  ul
  {
    margin: 15px 0 25px 0;
    list-style: square;

    li
    {
      margin: 0 0 10px 20px;
      padding-left: 0px;
      font-size: 12px;
      line-height: 1.4em;
    }
  }

}
