
$primary-color: #000;
$secondary-color: #fff;
$highlight-color: #80bffc;

$default-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$container-width: 320px;

@import "fonts";
@import "main";
