
//@import "compass/css3/font-face";
@import "vendor/frameless";

$cambridge-blue: #68ACE5; // Pantone 284 C
$sky-blue: tint($cambridge-blue, 55%);

body
{
	background: $sky-blue;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
}

#container
{
    margin: 0 auto;

		h1
		{
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

/* Responsive breakpoints */
$screen-width-medium-min: 768px;
$screen-width-large-min: 992px;
$screen-width-jumbo-min: 1200px;

@import "screen-small";
@import "screen-medium";
@import "screen-large";
@import "screen-jumbo";
