
body#home
{

  #chronometer
  {
    z-index: 1;
    position: absolute;
    width: $outer-width;
    height: $outer-width;
    left: ($container-width - $outer-width) / 2;
    @include border-radius($outer-width / 2);
    background: #fff;
  }

  #bezel
  {
    position: absolute;
    top: $bezel-thickness;
    left: $bezel-thickness;
    width: $bezel-width;
    height: $bezel-width;
    @include border-radius($bezel-width / 2);
    background: #000;
  }

  #face
  {
    z-index: 11;
    position: absolute;
    top: $seconds-thickness;
    left: $seconds-thickness;
    width: $face-width;
    height: $face-width;
    @include border-radius($face-width / 2);
    background-color: #000;
  }
}
