
#sea-background, #sea-blend, #sea, #sea-foreground, #sea-fx
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $face-width / 2;
  @include border-radius(0 0 ($face-width / 2) ($face-width / 2));
}
#sea-background
{
  z-index: 40;
  background-color: $ocean-blue;
}
#sea-blend { z-index: 41; }
#sea { z-index: 42; }
#sea-foreground
{
  z-index: 43;
  opacity: 0.7;
  background-color: $ocean-blue;
}
#sea-fx { z-index: 44; }

.sea-0 { @include background-image(linear-gradient(bottom, #020111 85%, #191621 100%)); }
.sea-1 { @include background-image(linear-gradient(bottom, #020111 85%, #191621 100%)); }
.sea-2 { @include background-image(linear-gradient(bottom, #020111 60%, #20202c 100%)); }
.sea-3 { @include background-image(linear-gradient(bottom, #020111 10%, #3a3a52 100%)); }
.sea-4 { @include background-image(linear-gradient(bottom, #20202c 0%, #515175 100%)); }
.sea-5 { @include background-image(linear-gradient(bottom, #40405c 0%, #6f71aa 80%, #8a76ab 100%)); }
.sea-6 { @include background-image(linear-gradient(bottom, #4a4969 0%, #7072ab 50%, #cd82a0 100%)); }
.sea-7 { @include background-image(linear-gradient(bottom, #757abf 0%, #8583be 60%, #eab0d1 100%)); }
.sea-8 { @include background-image(linear-gradient(bottom, #82addb 0%, #ebb2b1 100%)); }
.sea-9 { @include background-image(linear-gradient(bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%)); }
.sea-10 { @include background-image(linear-gradient(bottom, #b7eaff 0%, #94dfff 100%)); }
.sea-11 { @include background-image(linear-gradient(bottom, #9be2fe 0%, #67d1fb 100%)); }
.sea-12 { @include background-image(linear-gradient(bottom, #90dffe 0%, #38a3d1 100%)); }
.sea-13 { @include background-image(linear-gradient(bottom, #57c1eb 0%, #246fa8 100%)); }
.sea-14 { @include background-image(linear-gradient(bottom, #2d91c2 0%, #1e528e 100%)); }
.sea-15 { @include background-image(linear-gradient(bottom, #2473ab 0%, #1e528e 70%, #5b7983 100%)); }
.sea-16 { @include background-image(linear-gradient(bottom, #1e528e 0%, #265889 50%, #9da671 100%)); }
.sea-17 { @include background-image(linear-gradient(bottom, #1e528e 0%, #728a7c 50%, #e9ce5d 100%)); }
.sea-18 { @include background-image(linear-gradient(bottom, #154277 0%, #576e71 30%, #e1c45e 70%, #b26339 100%)); }
.sea-19 { @include background-image(linear-gradient(bottom, #163c52 0%, #4f4f47 30%, #c5752d 60%, #B7490f 80%, #2f1107 100%)); }
.sea-20 { @include background-image(linear-gradient(bottom, #071b26 0%, #071b26 30%, #8a3b12 80%,#240e03 100%)); }
.sea-21 { @include background-image(linear-gradient(bottom, #010A10 30%, #59230b 80%, #2f1107 100%)); }
.sea-22 { @include background-image(linear-gradient(bottom, #090401 50%, #4b1d06 100%)); }
.sea-23 { @include background-image(linear-gradient(bottom, #00000c 80%, #150800 100%)); }
