
#chronometer
{
  #timer
  {
    position: relative;
    width: $bezel-width;
    height: $bezel-width;
  }

  .wedge
  {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background: $watch-highlight;
    @include transform-origin(50%, 50%);
  }

  #spinner
  {
    width: 50%;
    @include border-radius(100px 0 0 100px);
    @include transform-origin(100%, 50%);
    background: $watch-highlight;
  }

  #filler
  {
    left: 50%;
    @include border-radius(0 100px 100px 0);
    opacity: 0;
    @include transform-origin(100%, 50%);
    background: $watch-highlight;
  }

  #mask
  {
    z-index: 8;
    position: absolute;
    width: 50%;
    height: 100%;
    @include border-radius(100px 0 0 100px);
    background-color: #000;
    opacity: 1;
  }
}
