
$primary-color: #000;
$secondary-color: #fff;
$highlight-color: #80bffc;
$watch-highlight: #911;
$sky-blue: #90dffe;
$ocean-blue: #114;

$default-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$container-width: 320px;
$outer-width: 220px;
$bezel-thickness: 10px;
$bezel-width: $outer-width - ($bezel-thickness * 2);
$seconds-thickness: 5px;
$face-width: $bezel-width - ($seconds-thickness * 2);

@import "compass/css3";
@import "compass/utilities";

@import "fonts";
@import "main";
@import "sky";
@import "sea";
@import "dial";
@import "seconds";
@import "chronos";
